In [2]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [7]:
Data = pd.read_csv("BD/tempo.csv", sep=";")
Data.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [11]:
Data.shape

(14, 5)

In [23]:
#Tratando a aparencia, tem campo vazio?
Data['Aparencia'].isnull().sum()
#nao

0

In [24]:
#quais sao os dados?
agrupado = Data.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [25]:
#atualizando valor invalido
Data.loc[Data['Aparencia'].isin( ['menos']), 'Aparencia'] = "chuva"
agrupado = Data.groupby(['Aparencia']).size()

In [26]:
agrupado

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [29]:
#tratando  TEMPERATURA
agrupado = Data.groupby(['Temperatura']).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [32]:
#vizualizando dado que esta dentre a logica
Data.loc[(Data['Temperatura'] <  -130 )  | ( Data['Temperatura'] >  130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [33]:
#criando uma variavel para madiana
mediana = sts.median(Data['Temperatura'])
mediana

73.5

In [34]:
#atribuinado o valor
Data.loc[(Data['Temperatura'] <  -130 )  | ( Data['Temperatura'] >  130), 'Temperatura' ] = mediana

In [35]:
Data.loc[(Data['Temperatura'] <  -130 )  | ( Data['Temperatura'] >  130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [36]:
#tratando a umidade
Data['Umidade'].isnull().sum()

1

In [37]:
#criando uma variavel para madiana
mediana = sts.median(Data['Umidade'])
mediana

85.5

In [38]:
Data['Umidade'].fillna(mediana, inplace=True)

In [39]:
Data['Umidade'].isnull().sum()

0

In [40]:
Data['Vento'].isnull().sum()

1

In [41]:
agrupado = Data.groupby(['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [42]:
#preenche NAs
Data['Vento'].fillna('FALSO', inplace=True)

In [43]:
agrupado = Data.groupby(['Vento']).size()
agrupado

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [44]:
#tratando jogar
agrupado = Data.groupby(['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
dtype: int64

In [45]:
Data['Jogar'].isnull().sum()

0

In [47]:
print(Data)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0    200.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao