In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ppeni\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ppeni\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\ppeni\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ppeni\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ppeni\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df = pd.DataFrame([1,2,3])

In [9]:
df

   0
0  1
1  2
2  3

In [12]:
df = pd.DataFrame([[1,2,3], [4,5,6]], columns = ['a', 'b', 'c'])

In [13]:
df

   a  b  c
0  1  2  3
1  4  5  6

In [23]:
print(df.dtypes)

a    int64
b    int64
c    int64
dtype: object

In [24]:
print(df.shape)

(2, 3)

In [29]:
df.head()

   a  b  c
0  1  2  3
1  4  5  6

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [31]:
df.min()

a    1
b    2
c    3
dtype: int64

In [33]:
pd.concat([df, df])

   a  b  c
0  1  2  3
1  4  5  6
0  1  2  3
1  4  5  6

In [34]:
df.mean()

a    2.5
b    3.5
c    4.5
dtype: float64

In [35]:
df.max()

a    4
b    5
c    6
dtype: int64

In [37]:
df.max(axis=1)

0    3
1    6
dtype: int64

In [48]:
#df.sort_values(by, ascending=True, inplace=False)
#df.sort_values(by=['a'], inplace=True)
print(df['a'])
print("--------")
print(df['b'])

0    1
1    4
Name: a, dtype: int64
--------
0    2
1    5
Name: b, dtype: int64

In [50]:
df[['a', 'b']]

   a  b
0  1  2
1  4  5

In [51]:
df.loc[:, ['a', 'b']]

   a  b
0  1  2
1  4  5

In [63]:
df.iloc[0:2, 0:2]

   a  b
0  1  2
1  4  5

In [65]:
df[[True, False]]

   a  b  c
0  1  2  3

In [66]:
df['nova_coluna'] = 0

In [80]:
df['media'] = range(df.shape[0])

In [81]:
df

   a  b  c  nova_coluna  media
0  1  2  3            0      0
1  4  5  6            1      1

In [86]:
df["media"] = df.media

In [87]:
df

   a  b  c  nova_coluna  media
0  1  2  3            0      0
1  4  5  6            1      1