In [1]:
import pandas as pd

In [4]:
cadastro = pd.DataFrame({"Nome":["Pedro Penido", "Thais Pinho", "Rachel Penido"], "Idade":[30,25,55], "Altura":[1.55,1.75,1.56], "Peso":[55,76,65]})

In [5]:
cadastro

            Nome  Idade  Altura  Peso
0   Pedro Penido     30    1.55    55
1    Thais Pinho     25    1.75    76
2  Rachel Penido     55    1.56    65